body {
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
    font-family: Verdana, Arial;
}

.header {
    font-weight: bold;

}

.searchbox {
    float: right;
    padding: 5px;
    margin: 10px 10px;
    width: 200px;
}

.headerlogo {
    float:left;
    margin-right:10px;
    height: 60px;
    width: 60px;
    margin-bottom: 50px;



}
.headerlogo > img {
    height: 60px;
    width: 60px;
    margin-bottom: 50px;
}

.headername {
    font-size: 22px;
    font-family: "Lato sans-serif";
    text-shadow: 5px 5px 5px #DBEFE7;
    color: #A69B8C;
    padding: 15px;
    margin: 0 30px;
    font-weight: bold;
}
nav {
    height: 45px;
    width: 100%;
    margin-bottom: 5px;
    margin-top: 35px;
    padding-left: 5px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: block;
}

.backgroundgradient {
    background: -webkit-linear-gradient(left, #D6CCBC, #A69B8C); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #a7c3ef, #689df2); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #a7c3ef, #689df2); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #D6CCBC, #A69B8C);
}


.navlink {
    height: 35px;
    margin-right: 10px;
    font-size: 18px;
    float: right;
    padding: 12px;
    color: white;
    text-decoration: none;
}

.mainImage {
    position: relative;
    width:100%;
}

.container-1{
    display:flex;
    width:100%;
    height: 400px;
    margin-top: 10px;


}

.container-1 div{
    border: 3px #ccc solid;
    padding: 10px;
    margin-right: 4px;

}

.box-1 {
    flex:1;
    background-color: #DBEFE7;
    text-align: center;
}

.box-2 {
    flex:1;
    background-color: #B2C8C6;
    text-align: center;

}

.box-3 {
    flex:1;
    background-color: #F2F3F2;
    text-align: center;
}

.box-4 {
    flex:1;
    background-color: #A69B8C;
    text-align: center;
}

footer {
    flex-direction: column;
    text-align: center;
    color: black;
    clear: both;
    background-color: #D6CCBC;
    margin: 10px 0 10px;
    padding: 5px;
}

/*otherTraining*/

